.inputLabel {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.input {
  line-height: 50px;
  width: 500px;
  border: 0;
  opacity: 0;
  padding: 0 20px;
  font-size: 24px;

  &:focus {
    border: 0;
    outline: 0;
  }
}
.inputWrap {
  border: 2px solid #ffffff;
  border-radius: 8px;
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    height: 4px;
    width: 100%;
    background: white;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    pointer-events: none;
  }
  &:hover:before {
    height: 100%;
  }
}
