.form {
  border: 2px solid #2b2a2a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}

.label {
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.formInput {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  margin-top: 5px;
}

.button {
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5355fd;
  cursor: pointer;
}
